@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
	--font-family-sans: 'Poppins', 'Source Sans Pro';
	--font-family-sans-heading: 'Lato', 'Source Sans Pro';
	--background-color: #f8f9fa;
	--text-color: #343a40;
	--text-color-subheading: #868e96;
	--border-color: #ced4da;
	--radius: 5px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: var(--text-color);
	background-color: var(--background-color);
}

body {
	max-height: 100vh;
	max-width: 100vw;
	font-size: 16px;
	font-family: var(--font-family-sans), sans-serif;
}

strong {
	font-weight: 700;
	font-variation-settings:
		'wdth' 75,
		'wght' 700;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-sans-heading), sans-serif;
}

.prose h2 {
	font-variant: small-caps;
	font-weight: 300;
	font-size: 40px;
	margin: 2rem auto;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: 1rem;
}

.prose p {
	max-inline-size: 100%;
	line-height: 1.6em;
	color: var(--text-color);
}

article p:nth-of-type(2):first-letter {
	initial-letter: 3;
}

.prose img {
	max-width: 100%;
	max-height: 600px;
	display: block;
	margin: 1rem auto;
	border-radius: var(--radius);
}
